@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1602140548697'); /* IE9 */
  src: url('iconfont.eot?t=1602140548697#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALQAAsAAAAABpwAAAKCAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBJIEbATYCJAMICwYABCAFhG0HMRvCBRHVkz1kPxNscBv1AwCpetrGPVksrBksi435S/D8t9//9pmZa3O/myHijSSm0RMhEgqEolEsElmPIHf3lLRUirhIW2ABhh5pa2vTLoVREYolOQ++y/9IfjNCuoRrAPjE4V6bQIHMd97luBeNNWligHEgBTT2Iiuhb/yH6eULHIjtEMCSo4oMjUwt4WPQ/QSQg/v2bMMvODEYFvER3IapzkW5hYOvLqv3wM3o9/KbhvBB4Wh0ztzu4Z30fWs3MfpU5NTGgIALBDTbATRQBQzIUmNwBo0wmsYGDQU4VqbAt/bIDwzIUbUI+9fp9CgAsiDvmfhO8KicCgAD9aEatE56Gui4+Hxi1/2rqe7h0ycPbMyVe48e71op9ODJ01dh7NUXjx8l2Xu7a+TJ3blPUi7/S0tnxt8f0/O3/bTzwc9j3dBI4ufSsr3+HC7zsZvfTOxcs9u569a2UVraooZgyjh2iz70n5lnahABBFpfz4ktsV3//NAA8On5x3MRb5gZ/DOYBP6U34sGOkRCqIPKAKhQAEU1fQd5FgtEkDXB16mq5NuKCj7JN2f2yM6g8SkiGmoVHEKa4OLTC0ul0dkhiY6jERMAFc4DCHHeQhHDO2jifCAa6hc4pPgLl7jQsKxI4pIhJcEFW4+jErSgfxDMMpM1ShVnXtG9suK8MKI/kffgga5uy5EJZ+QlRuxv14sQEC8FRrAb5rzAyktEI7UXWYemoaYP1WYph4rKqAQt6B8Es8wUVJeq8v0ruldW3FGWcz+R99A4dHU7gDjJ5kFlj3LL/na9CAHxUmAEnTDnBdbmThGN1H6Cfx0aU4mGyurtFeXv1gAWrVZi2mrSyb1qTiocDgAA') format('woff2'),
  url('iconfont.woff?t=1602140548697') format('woff'),
  url('iconfont.ttf?t=1602140548697') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1602140548697#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhankai:before {
  content: "\e639";
}

